---

import Articles from '../data/articles-list.json';

---

<div class="articles-list">
    <a href={Articles[0].link} class="articles-list__item">
        <img height="315px" src={Articles[0].image.src} alt={Articles[0].image.alt}>
        <span class="articles-list__item-shadow"></span>
        <h3>{Articles[0].name}</h3>
    </a>
    <a href={Articles[1].link} class="articles-list__item">
        <img height="315px" src={Articles[1].image.src} alt={Articles[1].image.alt}>
        <span class="articles-list__item-shadow"></span>
        <h3>{Articles[1].name}</h3>
    </a>
    <a href={Articles[2].link} class="articles-list__item">
        <img height="315px" src={Articles[2].image.src} alt={Articles[2].image.alt}>
        <span class="articles-list__item-shadow"></span>
        <h3>{Articles[2].name}</h3>
    </a>
</div>

<style>

    .articles-list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 0;
    }

    .articles-list__item {
        flex-grow: 1;
        flex-basis: 330px;
        position: relative;
        padding: 0;
    }

    .articles-list__item:hover {
        cursor: pointer;
    }

    .articles-list__item img {
        width: 100%;
        transition: all .2s;
        z-index: 10;
    }

    .articles-list__item-shadow {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 4px;
        left: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }

    .articles-list__item:hover .articles-list__item-shadow {
        background: none; 
    }

    .articles-list__item h3 {
        color: #fff;
        position: absolute;
        bottom: 20px;
        margin: 0 15px;
        font-size: 1.5rem;

        font-family: "Allerta Stencil";
        font-weight: 100;
        z-index: 20;
    }
</style>
