---

import Articles from '../data/articles-list.json';

---

<div class="articles-list">
    <a href="" class="articles-list__item">
        <img height="315px" src={Articles[0].image.src} alt={Articles[0].image.alt}>
        <h3>{Articles[0].name}</h3>
    </a>
    <a href="" class="articles-list__item">
        <img height="315px" src={Articles[1].image.src} alt={Articles[1].image.alt}>
        <h3>{Articles[1].name}</h3>
    </a>
    <a href="" class="articles-list__item">
        <img height="315px" src={Articles[2].image.src} alt={Articles[2].image.alt}>
        <h3>{Articles[2].name}</h3>
    </a>
</div>

<style>

    .articles-list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .articles-list__item {
        flex-grow: 1;
        flex-basis: 330px;
        filter: brightness(.7);
        position: relative;
        transition: all .2s;
    }

    .articles-list__item:hover {
        filter: brightness(1);
        cursor: pointer;
    }

    .articles-list__item img {
        width: 100%;
    }

    .articles-list__item h3 {
        color: #fff;
        position: absolute;
        bottom: 20px;
        margin: 0 15px;
        font-size: 1.5rem;

        font-family: "Allerta Stencil";
        font-weight: 100;
    }

    @media screen and (max-width: 1180px){
		
	}
</style>
