---

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

export interface Props {
	title: string;
	description: string;
}

const { title , description } = Astro.props as Props;

---


<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<script defer src="https://cloud.umami.is/script.js" data-website-id="5c39cba5-fa0a-48ed-a331-eaaffe7a875d"></script>

	<meta name="description" content={description}>
	<title>{title}</title>
	<meta name="author" content="Izan Sánchez Ginés">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Facebook -->
		
	<meta property="og:title" content={title}>
	<meta property="og:description" content={description}>
	<meta property="og:image" content="../../public/logo.svg">
	<meta property="og:url" content="https://gafasderealidadvirtual.com">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Realidad virtual">
	<meta property="og:locale" content="es_ES">

	<!-- Twitter -->

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content={title}>
	<meta name="twitter:description" content={description}>
	<meta name="twitter:image" content="../../public/logo.svg">
	<meta name="twitter:url" content="https://gafasderealidadvirtual.com">

	<meta name="generator" content={Astro.generator} />
</head>

<body>
	<Header />
	<slot />
	<Footer />
</body>

</html>

<style is:global>


@font-face {
		font-family: 'Orbitron';
		src: url('../../public/fonts/Orbitron.ttf') format('truetype');
		font-display: swap;
	}

	@font-face {
		font-family: 'Rajdhani';
		src: url('../../public/fonts/Rajdhani-Bold.ttf') format('truetype');
		font-weight: bold;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rajdhani';
		src: url('../../public/fonts/Rajdhani-Regular.ttf') format('truetype');
		font-weight: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Allerta Stencil';
		src: url('../../public/fonts/Allerta.ttf') format('truetype');
		font-display: swap;
	}


	.main {
		max-width: 1500px;
		padding: 0 100px;
		margin: auto;
		margin-top: 200px;
	}

	img {
		object-fit: cover;
	}

	@media screen and (max-width: 1200px) {
		.main {
			padding: 0 50px;
		}
	}

	@media screen and (max-width: 900px) {
		.main {
			padding: 0 20px;
		}
	}

	@media screen and (max-width: 750px) {
		.main {
			padding: 0 10px;
			margin-top: 150px;
		}
	}


	.main-header__title {
		font-size: 3.2rem;
		font-family: 'Rajdhani';
		line-height: 2.7rem;
		margin-bottom: 10px;
		margin-top: 0;
	}

	.main-header__subtitle {
		font-size: 1.3rem;
		font-family: 'Rajdhani';
		font-weight: normal;
		margin-top: 0;
	}

	.main-header__text {
		font-family: 'Rajdhani';
		font-size: 1.2rem;
		color: #333;
	}

	.main-section {
		margin-top: 50px;
	}

	.main-section__title {
		font-size: 1.7rem;
		font-family: 'Allerta Stencil';
		font-weight: 100;
	}

	.main-section__text {
		font-family: 'Rajdhani';
		font-size: 1.3rem;
		font-size: 1.2rem;
		color: #333;
	}

	.main-section__products {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: 12px;
		margin-bottom: 20px;
	}

	.main-section__subtitle {
		font-size: 1.8rem;
		font-family: 'Rajdhani';
		font-weight: 100;
		margin: 0;
	}

	.main-section__text {
		margin: 0;
		margin-bottom: 30px;
	}

</style>


<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
</style>